doctype html
html

head
  style
      include ../public/styles/main.css
body
  table#numBoard
    - var i=1
    tr
      while i < 13
        th= i++
    tr
      each value, index in fieldArr
        if  (index%3==0&&index>0)
          td= value.val
    tr
      each value, index in fieldArr
        if  (index%3==2)
          td= value.val
    tr
      each value, index in fieldArr
        if  (index%3==1)
          td= value.val
    tr
      each value, index in fieldArr
        if  (index==0)
          td= value.val
  p Wylosowalem:
    #printRoll _
  br
  input#colorBid.inputs
  select#colorInput(name="colorInput")
    option(value="empty") - wybierz -
    option(value="Czarny") Czarny
    option(value="Czerwony") Czerwony
  span  kolor (1:1)
  br
  input#evenBid.inputs
  select#evenInput(name="evenInput")
    option(value="empty") - wybierz -
    option(value='true') Parzyste
    option(value='false') Nieparzyste
  span  parzyste/nieparzyste (1:1)
  br
  input#dozenBid.inputs
  select#dozenInput(name="dozenInput")
    option(value="empty") - wybierz -
    option(value='0') 1 - 12
    option(value='1') 13 - 24
    option(value='2') 25 - 36
  span  tuziny (2:1)
  br
  input#columnBid.inputs
  select#columnInput(name="columnInput")
    option(value="empty") - wybierz -
    each col in arrColumnSelect
      option(value=col.index) #{col.val}
  span  kolumna (11:1)
  br
  button#roll Krecimy
  button#clearBets Wyczysc
  br
  p Masz $:
  #credit 
  br
  .arrData
    #arrColors #{arrColors}
    #arrNumbers #{arrNumbers}
      

script
  include ../public/javascripts/game_run.js